<div >


    <form name="inform" ng-submit="edit(Edarticle);">
        <p class="fade" ng-if="error" >{{ error }}</p>
        <p><label>Titre : </label><input name="titre" type="text" placeholder="Titre" ng-model="Edarticle.title" required/></p>
        <p class="fade" ng-if="Edarticle.status"><label  >Status : </label> <select ng-model="Edarticle.status">
            <option value="draft" >brouillon</option>
            <option value="proposed">proposer</option>
            <option value="published">publier</option>
        </select></p>
        <p><label>parents : </label><select ng-model="Edarticle.parents" multiple>
            <option ng-repeat="article in allarticles" value="{{article.id}}"  >{{article.title}}

            </option>
        </select></p>
        <p><textarea ng-model="Edarticle.texte"></textarea></p>
        <p><input type="submit" value="Sauvgarder"/></p>
    </form>

</div>
